.Footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.Footer-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.Footer-contact-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.Footer a{
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.Footer a:hover{
    text-shadow: 0px 12px 3px rgb(117, 116, 116);
    transition: 0.3s ease;
}

.Footer-heart{
    color: red;
}

.Footer span {
    font-family: 'Solway';
    font-size: 16px;
}

.Footer-contact-item:hover .Footer-icon {
    color: white;
    background-color: black;
    transition: 0.3s ease;
}

.Footer-contact-item:hover .Footer-contact-span {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    transition: 0.3s ease;
}

.Footer-heart:hover , .Footer-coffee:hover{
    text-shadow: 0px 12px 3px rgb(117, 116, 116);
    transition: 0.3s ease;
}