.Layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Main-content{
    flex:1;
}

.Footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    border-top: 1px solid black;
}