.Layout-container{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100vh;
    gap: 50px;
}

.Main-content{
    flex:1;
    display: flex;           
    justify-content: center; 
    align-items: center;
    width: 100%;
}

.Footer{
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    border-top: 1px solid black;
}