.NavBar-btn{
    border: none;
    background-color: transparent;
    color: black;
    font-size: 15px;
    padding: 10px;
}
.NavBar-btn:hover{
    background-color: black;
    color: white;
    transition: 0.3s ease;
}

.DropDown-btn{
    border: 1px solid black;
    color: white;
    padding: 10px;
    font-size: 15px;
    background-color: black;
    width: 70px;
}
.DropDown-btn:hover{
    color: black;
    background-color: white;
    transition: 0.3s ease;
}
.DropDown.NavBar-btn:hover ~ .DropDown-container{
    display: block;
}

.toolbar-icon {
    border: none;
    background-color: transparent;
    color: black;
    size: 15px;
    padding: 10px;
    width: 45px;
    height: 45px;
}
.toolbar-icon:hover{
    color: white;
    background-color: black;
    transition: 0.3s ease;
}

.Footer-icon {
    border: none;
    background-color: transparent;
    color: black;
    size: 15px;
    padding: 10px;
    width: 45px;
    height: 45px;
}
.Footer-icon:hover{
    color: white;
    background-color: black;
    transition: 0.3s ease;
}

button{
    font-family: 'Elma sans';
}

.Submit-btn{
    padding: 10px;
    border: 1px solid white;
    color:white;
    background-color: transparent;
    width: fit-content;
}

.Submit-btn:hover{
    color: black;
    background-color: white;
    transition: 0.3s ease;
}

.ReviewMessage-icon{
    padding: 10px;
    border: none;
    color: black;
    background-color: transparent;
}
.ReviewMessage-icon:active , .ReviewMessage-icon:hover{
    color: white;
    background-color: black;
}
